:root{
    --highlight-text-color: hsl(0, 0%, 100%);
    --active-state-color: hsl(178, 100%, 50%);
    --text-color: hsl(215, 51%, 70%);;
    --primary-bg-color: hsl(217, 54%, 11%);
    --secondary-bg-color: hsl(216, 50%, 16%);
    --border-color: hsl(215, 32%, 27%);
}

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    background-color: var(--primary-bg-color);
    min-height: 100%;
    font-family: "Outfit", sans-serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.highlight{
    color: var(--highlight-text-color);
}

/* (Frontend mentor rules) */
.attribution { 
    font-size: 11px; 
    text-align: center;
 }

.attribution a {
    color: hsl(228, 45%, 44%); 
}